#messageDisplay {
    height: 100%;
    overflow: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    background-color: lightgray;

}


.messageToUser {

    max-width: 50vw;
    width: 50vw;
    height: auto;
    background-color: #a5a5a5;
    padding: 10px;

    display: flex;
    flex-direction: column;
    position: relative;
    right: 40%;


    font-family: var(--mainFont);
    font-size: var(--fontReg);

}

.messageFromUser {
    max-width: 50vw;
    width: 50vw;
    height: auto;
    background-color: #003bea;
    color: white;
    padding: 10px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    left: 40%;


    font-family: var(--mainFont);
    font-size: var(--fontReg);
}

.messagesTime {
    width: 20vw;
    height: 15px;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--mainFont);
    font-size: var(--fontReg);
    margin-top: 30px;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}


.message_time_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nameOfMessenger {
    font-family: var(--mainFont);
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-top: 30px;
}