#messageDisplay {
    height: 100%;
    overflow-y: scroll;



    padding-bottom: 20px;
    background-color: lightgray;

}

#messageDisplay:last-child{
    padding-bottom: 5rem;
}

.messageToUser {

    max-width: 70vw;

    background-color: #c6c6c6;
    padding: 10px;

    font-family: var(--mainFont);
    font-size: var(--fontReg);

    justify-self: start;

}

.messageFromUser {
    max-width: 70vw;

    background-color: var(--policeBlue);
    color: white;
    padding: 10px;

    justify-self: end;

    font-family: var(--mainFont);
    font-size: var(--fontReg);
}

.messagesTime {

    padding: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    font-family: var(--mainFont);
    font-size: var(--fontReg);
    margin-top: 30px;
}

.messageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;

    gap: 8px;
    padding: 0 1rem;
}



.message_time_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nameOfMessenger {
    /* display: flex;
    align-items: center;
    justify-content: center; */

    width: fit-content;
    font-family: var(--mainFont);
    font-size: 25px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
}


#NoMessages {
    margin-top: 100px;
    margin-left: 30vw;
    border-bottom: 1px solid black;
    width: 151px;
}