:root {
    --terminalTxt: #7d7d7d;
    --terminalBg: #1c1c1c;
    --terminalHl: #191919;
    --terminalConnected: #4747b2;
    --terminalLoading: #a7bdbc;
    --terminalError: #9e3434;
    --terminalSuccess: #349e40;

}


#CrimeScenes {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    
    font-family: 'customfont';
    background: var(--terminalBg);
    color: var(--terminalTxt);

    & video, picture, img {
        margin: 1.5rem 0;
        width: 100%;
    }

    & audio {
        width: 100%;
    }
    

    & #terminalContainer {
        list-style: none;
        padding: unset;

        & li {
            font-size: 16px;

            & .highlighted-terminal {
                font-weight: bold;
            }
            
            & .terminal-connected {
                color: var(--terminalConnected);
            }
            & .terminal-loading {
                color: var(--terminalLoading);
            }
            & .terminal-error {
                color: var(--terminalError);
            }
            & .terminal-success {
                color: var(--terminalSuccess);
            }
        }
        & li:last-child {
            /* background: rgb(25, 25, 25); */
            animation: TerminalHighlight .2s;
        }
        & li:last-child::before {
            content: '_ '
        }
    }

    & form {
        display: flex;
        justify-content: space-between;

        & input {
            width: 100%;
            font-family: 'customFont';
            padding: unset;
            margin: 3px 0;
            letter-spacing: 2px;
            font-size: 20px;


            border: unset;
            color: var(--terminalTxt);
        }

        & input:focus {
            background: var(--terminalHl);
        }

        & button {
            font-size: 20px;
            color: var(--terminalTxt);
            font-family: 'customFont';
            background: none;
        }
    }

    & .hiddenElement {
        display: none;
    }

    & .actionsContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: 1.5rem;

        & button {
            height: 55px;
            width: 55px;
            border-radius: 15px;
            cursor: pointer;

            background-position: center;
            background-size: 75%;
            background-repeat: no-repeat;

            margin-right: 1.5rem;    
        }
        & .restartCM {
            background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 16.9214L14 16.9214L14 42L40.5 42L40.5 16.9214L25.5 16.9214M25.5 16.9214L31 11.4214M25.5 16.9214L31 22.4214' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
            
            background-color: rgb(233, 155, 10);
            border: 2px solid rgb(142, 98, 15);
            border-top: 2px solid rgb(236, 188, 99);
            border-left: 2px solid rgb(236, 188, 99);
        }

        & .exitCM {
            
            background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5845 16.9214L14 16.9214L14 42L40.5 42L40.5 16.9214L32.2887 16.9214' stroke='white' stroke-width='3'/%3E%3Cpath d='M27 11L27 25' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
            background-color: rgb(157, 13, 13);
            border: 2px solid rgb(101, 7, 7);
            border-top: 2px solid  rgb(226, 54, 54);
            border-left: 2px solid rgb(226, 54, 54);
        }

    }
      
}

@keyframes TerminalHighlight {
    from {
        background: rgba(25, 25, 25, 0);
    }

    to {
        background: var(--terminalHl);
    }
}