#Start {
    padding: 20px;
    font-family: var(--mainFont);
}

#containerStart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

#containerStart>div>button {

    background-color: whitesmoke;
    width: 110px;
    border: 1px solid black;
    box-shadow: 0 0 2px blue;
    font-family: var(--mainFont);

}

#LRButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

#PoliceIconStart {
    position: absolute;
    top: 70px;
    height: 400px;
    opacity: .1;
    z-index: -1;
}

#DiscriptiptionContainer {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 0 15px 15px 15px;
    line-height: 20px;

}