#Start {
    height: 100%;
    overflow-x: scroll;
    padding: 1.5rem;
    font-family: var(--mainFont);
    z-index: 5;
    
    & p {
        padding: .5rem 0;
        color: black;
    }

    & button {
    
        border: 1px solid var(--policeBlue);         
        font-family: var(--mainFont);
        font-size: var(--fontReg);

        background: rgb(203,204,218);
        background: linear-gradient(0deg, rgba(203,204,218,1) 0%, rgba(255,255,255,1) 75%);
    
    }

    & .text-picture {
        padding: .5rem 0;

        display: flex;
        justify-content: space-between;
        gap: .5rem;

        & p {
            padding: unset;
        }

        & img {
            width: 35vw;
        }
    }
}


#LRButtonContainer {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#PoliceIconStart {
    position: fixed;
    height: 85vw;
    opacity: .2;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
