
#homescreen {
    display: flex;
    flex-direction: column;

}

#homescreen>button {
    border-top: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'CustomFont';
    height: 45px;
}