
#homescreen {
    display: flex;
    flex-direction: column;


    & button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;


        border: 1px solid var(--policeBlue);         
        font-family: var(--mainFont);
        font-size: var(--fontReg);

        background: rgb(203,204,218);
        background: linear-gradient(0deg, rgba(203,204,218,1) 0%, rgba(255,255,255,1) 75%);

        & div {
            height: 45px;

            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            
            
            & img {
                height: 100%;
            }
        }

        & .notification {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 0 2rem;

            color: var( --policeBlue);
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(34, 38, 118, 0.617) 100%); 
        }
    }

    & button:last-child {
        border-bottom: 2px solid var(--policeBlue);
    }


    & button:hover,
    button:active {
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: unset;


        background: rgb(174, 176, 195);
        background: linear-gradient(0deg, rgba(203,204,218,1) 0%, rgb(228, 231, 255) 75%);

    }

    .codeContainer {
        position: fixed;
        bottom: 0;

        display: flex;
        justify-content: space-evenly;

        width: 100%;
        background: var( --policeBlue);
        padding: 1rem;
        
        & p {
            font-family: var( --mainFont);
            color: var(--textColor);
            font-size: var(--fontBig);
            text-align: center;
        }
    }
}