
#homescreen {
    display: flex;
    flex-direction: column;


    & button {
        border: 1px solid var(--policeBlue);
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;        
        
        height: 60px;

        font-family: var(--mainFont);
        font-size: var(--fontReg);

        background: rgb(203,204,218);
        background: linear-gradient(0deg, rgba(203,204,218,1) 0%, rgba(255,255,255,1) 75%);

        & img {
            height: 100%;
        }
    }

    & button:last-child {
        border-bottom: 2px solid var(--policeBlue);
    }


    & button:hover,
    button:active {
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: unset;
    }
}