.notes {
    width: 90%;
    height: auto;
    background-color: gray;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.time {
    width: 15%;
    height: 15px;
    background-color: gray;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.noteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#Notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.note_Time_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}